[Unit]
Description=UI Verifiers
After=network-online.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/home/ubuntu/launch-server.sh
Restart=always

[Install]
WantedBy=default.target